@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&family=Source+Serif+4:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F4E1;
    overflow-x: hidden;
}

a {
    all: unset;
    cursor: pointer;
}

header {
    box-sizing: border-box;
    max-width: 100vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #411F19;
    color: #411F19;

    font-family: 'Source Serif 4', serif;
    font-size: 16px;
}

.nome {
    box-sizing: border-box;
    padding: 10px;
    background-color: #BA0000;
    color: white;
    height: 46px;
}

nav {
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

nav a {
    box-sizing: border-box;
    padding: 10px;
}

.link-ativado {
    border-bottom: 4px solid #BA0000;
}

.titulo {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 68px;
    font-weight: bold;

    border-bottom: 1px solid #411F19;
    color: #411F19;

    padding: 50px 150px;
}

.container-perfil {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 50px 50px 50px 150px;

}

.container-topico-um {
    width: 530px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;

    color: #411F19;

    margin-bottom: 40px;
}

.img-perfil {
    box-sizing: border-box;
    width: 530px;
    border: 1px solid #BA0000;

    padding: 10px;

    margin-bottom: 24px;
}

.container-topico {
    width: 300px;

    color: #411F19;
}

.topico-perfil {
    color: #BA0000;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
}

b {
    font-size: 20px;
}

li {
    list-style: none;
    margin-bottom: 20px;
}


@media screen and (max-width: 800px) {

    .container-perfil,
    .titulo {
        padding: 50px 10vw;

    }
}


@media screen and (max-width: 620px) {

    .container-perfil,
    .titulo {
        padding: 20px 0;
    }
}


@media screen and (max-width: 540px) {

    .img-perfil,
    .titulo,
    .container-topico {
        width: 100%;
    }

    body {
        text-align: center;
    }
}