@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&family=Source+Serif+4:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F4E1;
    overflow-x: hidden;
}

a {
    all: unset;
    cursor: pointer;
}

header {
    box-sizing: border-box;
    max-width: 100vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #411F19;
    color: #411F19;

    font-family: 'Source Serif 4', serif;
    font-size: 16px;
}

.nome {
    box-sizing: border-box;
    padding: 10px;
    background-color: #BA0000;
    color: white;
    height: 46px;
}

nav {
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

nav a {
    box-sizing: border-box;
    padding: 10px;
}

.link-ativado {
    border-bottom: 4px solid #BA0000;
}

.titulo {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 68px;
    font-weight: bold;

    border-bottom: 1px solid #411F19;
    color: #411F19;

    padding: 50px 50px 50px 150px;
}

.container-projetos {
    box-sizing: border-box;
    padding: 50px 50px 50px 150px;
}

.projeto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.img-projeto {
    width: 500px;

    border: 1px solid #BA0000;

    padding: 10px;
}

.img-projeto-none {
    display: none;

    border: 1px solid #BA0000;

    padding: 10px;
}

.projeto-titulo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-family: 'Source Serif 4', serif;
    font-size: 28px;
    font-weight: bold;
    color: #411F19;

    margin-bottom: 10px;
    gap: 10px;
}

.url {
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: white;
    border-radius: 50%;
    background-color: #D95E47;
}

.projeto-info {
    width: 600px;
}

.projeto-descricao {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    color: #411F19;

    margin-bottom: 20px;
}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.tag {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 12px;
    color: white;
    border-radius: 20px;
    background-color: #D95E47;

    padding: 5px 10px;
}

.projeto-mais {
    font-size: 20px;
    font-weight: bold;
}


@media screen and (max-width: 1300px) {

    .projeto,
    .projeto p,
    .tags {
        justify-content: center;
        text-align: center;
    }

    .titulo {
        text-align: center;
    }

    .img-projeto {
        display: none;
    }

    .img-projeto-none {
        width: 600px;
        display: block;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 900px) {

    .container-projetos,
    .titulo {
        padding: 50px 0;
    }

    .projeto-info {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .img-projeto-none {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-left: -12px;
    }

    .titulo {
        padding: 20px 0;
    }
}