@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&family=Source+Serif+4:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&family=Source+Serif+4:wght@400;700&display=swap&family=Ewert&display=swap&family=Ultra');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F4E1;
    overflow-x: hidden;
}

a {
    all: unset;
    cursor: pointer;
}

header {
    box-sizing: border-box;
    max-width: 100vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #411F19;
    color: #411F19;

    font-family: 'Source Serif 4', serif;
    font-size: 16px;
}

.nome {
    box-sizing: border-box;
    padding: 10px;
    background-color: #BA0000;
    color: white;
    height: 46px;
}

nav {
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

nav a {
    box-sizing: border-box;
    padding: 10px;
}

.link-ativado {
    border-bottom: 4px solid #BA0000;
}

.titulo {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 68px;
    font-weight: bold;

    color: #411F19;

    padding: 0px 150px;
}

.container-contato {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 50px 0px 50px 150px;
}

.div-contato {
    margin-bottom: 40px;
}

.container-contato img {
    border: 2px solid #411F19;
}

.cartaz-contato {
    border: 3px #411F19;
    border-style: groove;
    color: #411F19;
    text-align: center;

    padding: 20px 40px;
    font-size: 24px;

    margin-right: 150px;
}


.title-cartaz {
    font-family: 'Ewert', cursive;
    font-size: 54px;
}

.cartaz-contato img {
    height: 380px;
    border: 5px dashed #411F19;
    margin-top: 10px;
}

.subtxt-cartaz {
    font-size: 32px;
    font-family: "Ultra", serif;
}

li {
    list-style: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    color: #411F19;

    margin-top: 20px;
}

li a {
    text-decoration: underline;
    margin-left: 20px;
}

.mg10 {
    margin-left: 5px;
}

.mg30 {
    margin-left: 35px;
}

@media screen and (max-width: 1300px) {
    .container-contato {
        padding: 50px;
    }

    .cartaz-contato {
        margin-right: 0px;
    }
}


@media screen and (max-width: 1100px) {
    .container-contato {
        justify-content: center;
        padding: 50px 0px;
    }

    .div-contato {
        width: 100vw;
        text-align: center;
    }

    .titulo {
        border-bottom: 1px solid #411F19;
        padding: 20px 0;
    }
}

@media screen and (max-width: 600px) {
    .container-contato {
        padding: 0px 0px;
    }

    .cartaz-contato img {
        height: 250px;
    }

    .div-contato a {
        display: block;
        font-size: 20px;
    }

    .title-cartaz {
        font-size: 40px;
    }

    .subtxt-cartaz {
        font-size: 28px;
    }

    .mg10 {
        margin-left: 0px;
    }

    .mg30 {
        margin-left: 0px;
    }
}